/* normalize css starts here */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* normalize css ends here */

html {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #222;
    background: #f2f2f2;
}

body {
    padding-top: 60px;
    /* Adjust this value as needed */
    max-width: 350px;
    height: calc(100vh - 60px);
    /* Adjust viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.app {
    width: 80%;
    min-height: 60%;
    background: white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
}

.label {
    font-size: 16px;
    margin-bottom: 10px;
    color: #666;
}

.submit {
    border: 0;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background: linear-gradient(to right, #00b4db, #0083b0);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    text-decoration: none;
    transition: all 0.2s ease;
    user-select: none;
}

.submit:focus {
    outline: none;
}

.submit:hover {
    background: linear-gradient(to right, #0083b0, #00b4db);
    transform: translateY(-2px);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
}

.submit:active {
    transform: translateY(0);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}